extends ../layout

block content
    h3= book.title
    a.back(href=`/books`) Back
    a.edit(href=`/books/edit/${book.id}`) Edit Book
    a.delete(href=`/books/delete/${book.id}`) Delete Book
    div
        p Author: #{book.author}
        p Publisher: #{book.publisher}
        p Genre: #{book.genre}
        p Pages: #{book.pages}
        p= book.description
        img(src= book.image)

    div.authors
        h4 The Author(s):
        table
            thead
                tr
                    th First

                    th Last

                    th Books Written

                    th DOB:
            tbody
                 each author in book.authors
                     tr
                         td= author.firstname
                         td= author.lastname
                         td= author.bookswritten
                         td= author.dob
                            a(href=`/authors/profile/${author.id}`) View Author