extends ../layout

block content
    h2 Books
    a.g(href=`/authors`) View Authors
    a.f(href='/books/add') Add New Book
    table
        thead
            tr
                th
                th
                th
                th
        tbody
            each book in books
                tr.d
                    td.ti= book.title
                    td.au= book.author
                    td.pu= book.publisher
                    td= book.genre
                    td= book.pages
                    td= book.description
                    td
                        a.h(href=`/books/profile/${book.id}`) View Book